html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}


.didatic {
	font-family: monospace;
  background-color: rgba(255,255, 255, 0.5);
	color: #000000;
	font-size: 16pt;

  overflow:auto;
}


.click{
	font-family: monospace;
  background-color: rgba(255,255, 255, 0.5);
	color: #000000;
	font-size: 40pt;
  text-align: center;
  display: block

}
