html, body {
  height: 100.1%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

canvas {
  display: block;
}
.didatic {
	font-family: monospace;
	color: #000000;
	font-size: 16pt;

  overflow:auto;
